<?xml version="1.0" encoding="UTF-8"?>
<!--Configuration for MyApp-->
<Holo_table>
    <3>
        <Total/>
        <Keystone/>
        <Keystone/>
        <Keystone/>
        <Keystone/>
        <Keystone/>
        <Keystone/>
        <Keystone/>
        <Keystone/>
        <Keystone/>
        <Keystone/>
        <Keystone/>
        <Keystone/>
    </3>
</Holo_table>

<OVR/>
